{% extends 'base.html.twig' %}

{% block title %}Edit Holder{% endblock %}

{% block body %}

<div class="container">
        <h2 class="text-center mt-5 mb-3">Edit Policy holder</h2>
        <div class="card">
            <div class="card-header">

        <a class="btn btn-sm btn-outline-primary float-right" href="{{ path('app_holder_index') }}"> 
                    Policy holder list
                </a>

    </div>
            <div class="card-body">
                {% include 'holder/_form.html.twig' with {'button_label': 'Save', 'button_color': 'btn-success'}  %}
            </div>
            
        </div>
    </div>
{% endblock %}
